<template>
    <div class="home">
        <div class="bottom RoomList">
            <div class="tableAreaBox pb-4">
                <div class="PageWhiteBar">
                    <div class="row">
                        <div class="col-md-5 col-lg-4 col-xl-3 mb-3">
                            <h3 class="title">口罩銷售狀況</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-lg-1 mb-1"></div>
                    <div class="col-md-4 col-lg-4 mb-4">
                        起始日
                        <el-date-picker class="w-100"
                                        v-model="startDate"
                                        type="date"
                                        format="yyyy-MM-dd"
                                        value-format="yyyy-MM-dd"
                                        placeholder="起始日">
                        </el-date-picker>
                    </div>
                    <div class="col-md-4 col-lg45 mb-4">
                        結束日
                        <el-date-picker class="w-100"
                                        v-model="endDate"
                                        type="date"
                                        format="yyyy-MM-dd"
                                        value-format="yyyy-MM-dd"
                                        placeholder="結束日">
                        </el-date-picker>
                    </div>
                    <div class="col-md-2 col-lg-2 mb-2">
                        <div style="color: transparent;">空白</div>
                        <el-button class="w-100" type="info" plain round @click="filterData">搜尋</el-button>
                    </div>
                    <div class="col-md-1 col-lg-1 mb-1"></div>
                </div>


                <table class="rwd-table member mt-3">
                    <tr>
                        <th>口罩名稱</th>
                        <th>口罩銷售總金額</th>
                    </tr>

                    <tr v-for="(item, index) in dataList" :key="index">
                        <td data-th="口罩名稱">{{item.maskName}}</td>
                        <td data-th="口罩銷售總金額">{{item.saleTotal}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "MaskSales",
        data() {
            return {
                dataList: [],
                deleteId: 0,
                startDate: "",
                endDate: "",
            }
        },
        created() {
            this.setupData();
        },
        methods: {
            filterData() {
                this.setupData()
            },
            setupData() {
                this.$http.fetch`getMaskSales${{
                    "startDate": this.startDate,
                    "endDate": this.endDate,
                }}
                ${json => {
                    this.dataList = json;
                }}`;
            },
        },

    }
</script>

<style scoped>

</style>
