<template>
    <div class="home">
        <div class="bottom RoomList">
            <div class="tableAreaBox pb-4">
                <div class="PageWhiteBar">
                    <div class="row">
                        <div class="col-md-5 col-lg-4 col-xl-3 mb-3">
                            <h3 class="title">口罩查詢</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-lg-1 mb-1"></div>
                    <div class="col-md-3 col-lg-3 mb-3">
                        藥局查詢
                        <el-select v-model="filterPharmacyName" placeholder="藥局查詢" class="w-100">
                            <el-option
                                    v-for="item in pharmacyNameOptions"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                        關鍵字查詢
                        <input type="text" class="form-control" v-model="filterKey">

                    </div>

                    <div class="col-md-3 col-lg-3 mb-3">
                        排序項目
                        <el-select v-model="filterSortOption" placeholder="排序項目" class="w-100">
                            <el-option
                                    v-for="item in sortOption"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                        排序方向
                        <el-select v-model="filterSortType" placeholder="排序方向" class="w-100">
                            <el-option
                                    v-for="item in sortTypeOptions"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="col-md-2 col-lg-2 mb-2">
                        口罩價錢範圍
                        <input type="number" class="form-control" v-model="priceMin">至
                        <input type="number" class="form-control" v-model="priceMax">
                    </div>
                    <div class="col-md-2 col-lg-2 mb-2">
                        <div style="color: transparent;">空白</div>
                        <div style="color: transparent;">空白</div>
                        <el-button class="w-100" type="info" plain round @click="filterData">搜尋</el-button>
                    </div>
                    <div class="col-md-1 col-lg-1 mb-1"></div>

                </div>


                <table class="rwd-table member mt-3">
                    <tr>
                        <th>藥局名稱</th>
                        <th>口罩名稱</th>
                        <th>價錢</th>
                    </tr>

                    <tr v-for="(item, index) in dataList" :key="index">
                        <td data-th="藥局名稱">{{item.pharmacyName}}</td>
                        <td data-th="口罩名稱">{{item.maskName}}</td>
                        <td data-th="價錢">{{item.price}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "MaskList",
        data() {
            return {
                dataList: [],
                filterPharmacyName: "",
                filterSortOption: "",
                filterSortType: "",
                filterKey: "",
                priceMax: 0,
                priceMin: 0,
                sortOption: [{
                    value: '1',
                    label: '價錢'
                }, {
                    value: '2',
                    label: '店名'
                }],
                sortTypeOptions: [{
                    value: '1',
                    label: '正序'
                }, {
                    value: '2',
                    label: '倒序'
                }],

                pharmacyNameOptions: []
            }
        },
        created() {
            this.setupData();
        },
        methods: {
            filterData() {
                if (this.filterSortOption !== "" && this.filterSortType === "") {
                    this.$public.showNotify("請選擇排序方向")
                } else if (this.filterSortOption === "" && this.filterSortType !== "") {
                    this.$public.showNotify("請選擇排序項目")
                } else {
                    this.setupData()
                }
            },
            setupData() {
                this.$http.fetch`getPharmacyListOption${{}}
                ${json => {
                    this.pharmacyNameOptions = json;
                }}`;

                this.$http.fetch`getMaskList${{
                    "filterPharmacyName": this.filterPharmacyName,
                    "filterSortOption": Number(this.filterSortOption),
                    "filterSortType": Number(this.filterSortType),
                    "priceMin": Number(this.priceMin),
                    "priceMax": Number(this.priceMax),
                    "filterKey": this.filterKey,
                }}
                ${json => {
                    this.dataList = json;
                }}`;


            },
        },

    }
</script>

<style scoped>

</style>
