<template>
    <div class="home">
        <div class="bottom RoomList">
            <div class="tableAreaBox pb-4">
                <div class="PageWhiteBar">
                    <div class="row">
                        <div class="col-md-5 col-lg-4 col-xl-3 mb-3">
                            <h3 class="title">出售口罩</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-lg-1 mb-1"></div>
                    <div class="col-md-2 col-lg-2 mb-2">
                        選擇藥局
                        <el-select v-model="filterPharmacyName" placeholder="選擇藥局" class="w-100">
                            <el-option
                                    v-for="item in pharmacyNameOptions"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>

                    <div class="col-md-2 col-lg-2 mb-2">
                        選擇口罩
                        <el-select v-model="filterMaskId" placeholder="選擇口罩" class="w-100">
                            <el-option
                                    v-for="item in maskNameOptions"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="col-md-2 col-lg-2 mb-2">
                        出售給哪位會員
                        <el-select v-model="filterUsersId" placeholder="選擇會員" class="w-100">
                            <el-option
                                    v-for="item in usersNameOptions"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="col-md-2 col-lg-2 mb-2">
                        數量
                        <input type="number" class="form-control" v-model="amount">

                    </div>
                    <div class="col-md-2 col-lg-2 mb-2">
                        <div style="color: transparent;">空白</div>
                        <el-button class="w-100" type="info" plain round @click="confirmSell">出售</el-button>
                    </div>
                    <div class="col-md-1 col-lg-1 mb-1"></div>

                </div>
                <br>
                <h4 class="title">會員購買紀錄</h4>
                <table class="rwd-table member mt-3">
                    <tr>
                        <th>會員名稱</th>
                        <th>藥局名稱</th>
                        <th>口罩名稱</th>
                        <th>價錢</th>
                        <th>數量</th>
                        <th>購買日期</th>
                    </tr>

                    <tr v-for="(item, index) in dataList" :key="index">
                        <td data-th="會員名稱">{{item.masksName}}</td>
                        <td data-th="藥局名稱">{{item.usersName}}</td>
                        <td data-th="口罩名稱">{{item.pharmacyName}}</td>
                        <td data-th="價錢">{{item.price}}</td>
                        <td data-th="數量">{{item.amount}}</td>
                        <td data-th="購買日期">{{item.createdTime}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "SellMask",
        data() {
            return {
                dataList: [],
                filterPharmacyName: "",
                filterMaskId: "",
                filterUsersId: "",
                pharmacyNameOptions: [],
                maskNameOptions:[],
                usersNameOptions: [],
                amount:0
            }
        },
        created() {
            this.setupData();
        },
        methods: {
            setupData() {
                this.$http.fetch`getPharmacyListOption${{}}
                ${json => {
                    this.pharmacyNameOptions = json;
                }}`;

                this.$http.fetch`getMemberListOption${{
                }}
                ${json => {
                    this.usersNameOptions = json;
                }}`;

                this.$http.fetch`getUsersOrderList${{
                }}
                ${json => {
                    this.dataList = json;
                }}`;
            },
            confirmSell(){
                this.$http.fetch`sellMasks${{
                    "usersId":Number(this.filterUsersId),
                    "masksId":Number(this.filterMaskId),
                    "amount":Number(this.amount),
                }}
                ${json => {
                    if (json.status) {
                        this.$public.showNotify(json.message, json.status)
                        this.setupData()
                    } else {
                        this.$public.showNotify(json.message, json.status)
                    }
                }}`;
            }
        },
        watch:{
            filterPharmacyName(){
                this.$http.fetch`getMaskListOptionByPharmacyName${{
                    "name":this.filterPharmacyName
                }}
                ${json => {
                    this.maskNameOptions = json;
                }}`;

            }
        }

    }
</script>

<style scoped>

</style>
