:root{
    --btn_color:#1db555;
    --btn_color_hover:#0ec753;
    --color7: #b0f1a3;
    --color8: #f0f9f3;
    --color9: #cde6d6;
    --color10: #65a07c;
    --colorBG: #dff1e5;
    --showdow:0 5px 9px rgba(77, 90, 81, 0.15);
}


.AdminMainPage{
    background-color: var(--colorBG);
}
.pageCtnArea a{
    transition: 0.2s;
}
.pageCtnArea a:hover{
    text-shadow: 0 2px 3px #c4e0ca;
    opacity: 0.8;
}
body .el-button--text{
    color: var(--btn_color);
}
body .el-button--text:hover{
    color: var(--btn_color_hover);
}
/*--------選單---------*/

.Adminloginbox .navbuttton {
    margin: 0.5rem 1rem;
    color: #fff;
    border: 1px solid;
    padding: 0 1rem;
    line-height: 2rem;
}

.Adminloginbox .navbararea {
    padding: 0;
}

.navbararea nav.collapse.bd-links {
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
}

.navBG nav#navbarlist li {
    list-style: none;
}
.navBG .card-header{
    background: transparent;
}

.navBG .collapse .card-body{
    padding: 0;
}
.Adminloginbox .navBG nav#navbarlist li a{
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: table;
}

nav#navbarlist li.keep-open ul li a{
    background: transparent;
}
.navBG .card{
    background: transparent;
    border: none;
}
.navBG .card .card-header .btn{
    margin: 0;
    padding: 0 1rem;
    color: #fff;
    width: 100%;
    text-align: left;
    line-height: 3rem;
    text-decoration: none;
}
.navBG .card .card-header .btn:hover{

}
.navBG .card-header{
    border: none;
}
nav#navbarlist li a, .navBG .card-header{
    padding: 0;
}

.Adminloginbox .navbararea .card-body ul{
    padding: 0;
    margin: 0;
}
.Adminloginbox .navbararea .el-menu{
    border: none;
}

#navbarlist .el-menu-item-group__title{
    padding: 0;
}
#navbarlist .el-submenu .el-menu-item{
    height: 45px;
    line-height: 45px;
    padding-left: 55px !important;
    padding-right: 0;
}
#navbarlist .el-submenu .el-menu-item:hover, #navbarlist .is-opened .el-submenu__title:hover,
#navbarlist .is-opened .el-submenu__title:hover i, .el-submenu .el-menu-item:hover i{
    background-color: transparent !important;
    color: var(--color1) !important;
}

#navbarlist .el-submenu__title, #navbarlist li.el-menu-item{
    font-size: 16px;
}
#navbarlist li.el-menu-item {
    text-align: left;
}
#navbarlist .el-submenu__title, #navbarlist .el-submenu__title i, .el-submenu .el-menu-item i, #navbarlist li.el-menu-item.onlyItem i{
    color: #484848 !important;

}

#navbarlist .el-submenu__title i, .el-submenu .el-menu-item i, #navbarlist li.el-menu-item.onlyItem i{
    margin-right: 8px;
    font-size: 20px;
}
#navbarlist i.el-submenu__icon-arrow{
    font-size: 16px;
}
#navbarlist .el-submenu .el-menu-item.is-active, #navbarlist .el-submenu .el-menu-item.is-active i{
    color: var(--btn_color) !important;
}


/*手機*/

@media(max-width:767px) {
    .Adminloginbox .navbararea {
        position: relative;
        z-index: 999;
    }
    .Adminloginbox .pagecontent {
        padding-top: 0;
    }

    .Adminloginbox .navtopbox {
        line-height: 3.5rem;
        display: flex;
    }
    .Adminloginbox .navtopbox, .Adminloginbox .navbararea .el-menu{
        background-color: var(--color10) !important;
    }
    .Adminloginbox .navbararea .el-menu{
        padding-bottom: 8px !important;
    }
    .Adminloginbox .navtopbox .leftNavBox{
        width: 70%;
        text-align: center;
        color: #FFFFFF;
    }
    .Adminloginbox .navtopbox .rightNavBox{
        text-align: right;
        width: 30%;
        align-items: center;
        justify-content: center;
    }
    .Adminloginbox .navtopbox button.navbuttton {
        color: #fff;
        border: 1px solid #fff;
        text-decoration: none;
        padding: 0 15px;
        margin: 0 2rem 0 0;
    }
    .Adminloginbox .navtopbox button.navbuttton img{
        height: 1rem;
    }
    .Adminloginbox .navtopbox img {
        height: 45px;
    }

    .Adminloginbox .navtopbox .leftNavBox img{
        margin-left: 9vw;
        margin-right: 5px;
    }
    nav#navbarlist li a, .navBG .card-header{
        color: rgba(255, 255, 255, 0.8);
        line-height: 2.7rem;
        display: inline-block;
        width: 100%;
    }
    .navbararea .CurrentUser {
        line-height: 4rem;
        font-size: 0.9rem;
        width: 50%;
    }
    .Adminloginbox .logoLink{
        width: 25%;
    }
    #navbarlist .el-submenu__title, #navbarlist li.el-menu-item.onlyItem{
        padding-left: 15px !important;
        padding-right: 0 !important;
        border-left: 8px solid transparent;
    }
    .navBG nav#navbarlist li.is-opened .el-submenu__title, .navBG nav#navbarlist li.is-opened .el-submenu__title i, #navbarlist li.el-menu-item.onlyItem i{
        color: #FFFFFF !important;
    }
    .navBG nav#navbarlist li.is-opened .el-submenu__title, #navbarlist li.el-menu-item.onlyItem.is-active{
        border-color: #a5d2b7;
    }
    #navbarlist .el-menu-item, #navbarlist .el-menu-item i, #navbarlist li.el-menu-item.onlyItem i{
        color: white !important;
    }
    #navbarlist .el-submenu__title:hover, #navbarlist .el-submenu__title:hover i, #navbarlist .el-submenu .el-menu-item:hover, #navbarlist .el-submenu__title, #navbarlist .el-submenu__title i, #navbarlist li.el-menu-item.onlyItem i, #navbarlist li.el-menu-item.onlyItem:hover, #navbarlist li.el-menu-item.onlyItem:hover i{
        background-color: transparent !important;
        color: white !important;
    }

}

/*手機以上*/

@media (min-width:768px) {
    .Adminloginbox .navbararea {
        min-height: 100vh;
        background-color: white;
    }
    button.btn.btn-link.navbuttton {
        display: none;
    }
    .navbararea nav.collapse.bd-links {
        display: inline-block !important;
        min-height: calc(91.14vh + 1rem);
    }
    .Adminloginbox .navtopbox {
        padding-left: 19px;
    }

    nav#navbarlist li a, .navBG .card-header{
        color: rgba(255, 255, 255, 0.8);
        line-height: 2.7rem;
        display: inline-block;
        width: 100%;
    }
    #navbarlist .el-submenu__title, #navbarlist li.el-menu-item.onlyItem{
        padding-left: 15px !important;
        padding-right: 0 !important;
        border-left: 20px solid transparent;
    }
    .navBG nav#navbarlist li.is-opened .el-submenu__title, .navBG nav#navbarlist li.is-opened .el-submenu__title i, #navbarlist li.el-menu-item.onlyItem.is-active, #navbarlist li.el-menu-item.onlyItem.is-active i{
        color: var(--btn_color) !important;
    }
    .navBG nav#navbarlist li.is-opened .el-submenu__title, #navbarlist li.el-menu-item.onlyItem.is-active{
        border-color: var(--btn_color);
    }
    #navbarlist .el-submenu__title:hover, #navbarlist .el-submenu__title:hover i, #navbarlist li.el-menu-item.onlyItem:hover, #navbarlist li.el-menu-item.onlyItem:hover i{
        background-color: transparent !important;
        color: var(--color1) !important;
    }
}


/*pageCtnArea*/
.pageCtnArea{

    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
}

.pageCtnArea .top{
    display: inline-block;
    font-size: .85rem;
}
.pageCtnArea .top .user_id{
    padding: 0 1rem;
    margin: 0.75rem 0;
    border-right: 1px solid var(--color10);
}
.pageCtnArea .top .logout{
    padding: 0.75rem 1rem;
    cursor: pointer;
}
.pageCtnArea .top .logout, .pageCtnArea .top .user_id{
    float: right;
}

.pageCtnArea .bottom .tableAreaBox{
    background: #fff;
    border-radius: 5px;
    box-shadow: var(--showdow);
}
.pageCtnArea .bottom .FilterListTop{
    width: 99%;
    margin: 10px auto 18px;
}
.pageCtnArea .bottom .FilterListTop .el-input__inner{

}
.AdminMainPage .searchBar .input-group-text {
    border-radius: 50px 0 0 50px;
    background-color: white;
}
body .AdminMainPage .searchBar .form-control{
    border-left: none;
    padding-left: 5px;
}
body .AdminMainPage .searchBar .input-group{
    border-radius: 50px;
}
.AdminMainPage h1 .el-input{
    display: block;
}
.pageCtnArea .bottom .PageWhiteBar{
    font-size: 1.5rem;
    text-align: left;
    line-height: 33px;
    color: #3a3a3a;
    padding: 18px 15px 0;
}
.pageCtnArea .bottom .PageWhiteBar .title{
    margin-bottom: 0;
}
.pageCtnArea .bottom .PageWhiteBar .el-button{
    font-weight: 400;
}
.pageCtnArea .bottom .main_button{
    width: 100%;
    padding: 0 2.5rem;
    text-align: left;
}
.pageCtnArea .bottom .main_button button{
    margin-left: .5rem;
}
.pageCtnArea .bottom .edit{
    width: 100%;
    text-align: left;
    padding: 0 2.5rem 2rem 2.5rem;
}
.pageCtnArea .bottom .edit .box{
    padding: 1.5rem 0;
    border-bottom: 1px solid #ccc;
}
.pageCtnArea .bottom .edit .box:first-child{
    padding: 0 0 1.5rem 0;
}
.pageCtnArea .bottom .edit .custom-control{
    display: inline-block;
    margin-right: 1rem;
}
.pageCtnArea .bottom .edit .custom-select, .pageCtnArea .bottom .edit .form-control{
    border: 0;
    font-size: .85rem;
    padding: .75rem 1rem;
    background: #f0f0f0;
    height: auto;
}
.pageCtnArea .bottom .edit_button{
    text-align: center;
    padding-bottom: 2rem;
}
.pageCtnArea .bottom .edit_button button{
    margin: 0 .25rem;
    min-width: 150px;
}
.pageCtnArea .bottom .edit .ad_list{
    margin: 2rem 0;
    text-align: center;
}
.pageCtnArea .bottom .edit .ad_list h5{
    text-align: left;
    font-weight: 600;
}
.pageCtnArea .bottom .edit .ad_list li{
    padding: 1rem 0;
    border-bottom: 1px dashed #ccc;
}
.pageCtnArea .bottom .edit .ad_list .sort{
    display: inline-block;
    width: 10%;
}
.pageCtnArea .bottom .edit .ad_list .img{
    display: inline-block;
    width: 30%;
}
.pageCtnArea .bottom .edit .ad_list .img .fileUpload{
    position: relative;
}
.pageCtnArea .bottom .edit .ad_list .img .image-preview{
    margin-top: 1rem;
}
.pageCtnArea .bottom .edit .ad_list .img .fileUpload input[type="file"]{
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 999;
}
.pageCtnArea .bottom .edit .ad_list .img img{
    max-width: 90%;
}
.pageCtnArea .bottom .edit .ad_list .link{
    display: inline-block;
    width: 60%;
    text-align: left;
}


/*手機*/@media (max-width: 767px){
    .pageCtnArea{height: calc(100vh - 56px);}
    .pageCtnArea .top{
        width: 94%;
        margin: 5px 3% 0;
    }
    .pageCtnArea .bottom{
        width: 94%;
        margin: 0 3% 1rem;
    }
    .pageCtnArea .bottom .PageWhiteBar .el-button{
        padding: 10px 10px;
    }

}
/*手機以上*/@media (min-width: 768px){

    .AdminMainPage .sidebarArea, .AdminMainPage .pageCtnArea{
        padding: 0;
    }
    .pageCtnArea{height: 100vh;}
    .pageCtnArea .top{
        border-left: 2px solid var(--colorBG);
        width: 100%;
        background-color: white;
        padding: 5px 2%;
    }
    .Adminloginbox .navtopbox .leftNavBox table div{
        line-height: 46px;
    }
    .Adminloginbox .navtopbox img {
        height: 45px;
    }
    .Adminloginbox .navtopbox .leftNavBox{
        padding-top: 5px;
        margin-bottom: 8px;
    }
    .Adminloginbox .navtopbox .leftNavBox table{
        margin: 0 auto;
    }
    .pageCtnArea .bottom{
        margin: 18px;
    }
     .pageCtnArea .bottom{
        width: calc(100% - 50px);
    }
}
/*------------表格-------------*/
.leftTitleTable{
    text-align: left;
}
.leftTitleTable tr td:nth-child(1){
    background-color: var(--color7);
}
.leftTitleTable tr td{
    padding: 5px;
    line-height: 1.5rem;
    border: 1px solid #627ca5;
}
.PartnerReviewList .col-lg-8 table td{
    padding: 15px 0 10px;
    border-bottom: 1px solid #dedede;
}
.PartnerReviewList .col-lg-8 table tr:last-child td{
    border-bottom: none;
}
/*手機*/@media (max-width: 767px){
    .tableAreaBox .TrNewline{
        display: grid;
    }
}
/*手機以上*/@media (min-width: 768px){}
/*------------按鈕-------------*/

.AdminMainPage .pageCtnArea .el-button--success{
    background-color: var(--btn_color);
    border-color: var(--btn_color);
}
.AdminMainPage .pageCtnArea .el-button--success:hover, .AdminMainPage .pageCtnArea .el-button--success.is-plain:hover ,
.AdminMainPage .pageCtnArea .el-button--success.is-plain:hover .fas{
    color: white;
    border-color: var(--btn_color_hover);
    background-color: var(--btn_color_hover);
}
.AdminMainPage .pageCtnArea .el-button--success.is-plain{
    background-color: white;
    border-color: var(--btn_color);
    color: #797979;
}
.AdminMainPage .pageCtnArea .el-button--success.is-plain .fas{
    color: var(--btn_color);
}

.AdminMainPage .pageCtnArea .rwd-table .el-button{
    font-weight: 400;
    padding: 10px 15px;
    margin: 3px 0;
}

.AdminMainPage .pageCtnArea .el-button--info.is-plain{
    background-color: white;
}
.AdminMainPage .pageCtnArea .el-button--info.is-plain:hover{
    background-color: #e0e0e0;
    color: #505050;
}

.AdminMainPage .el-button:focus, .AdminMainPage .el-button:hover {
    color: var(--btn_color);
    border-color: var(--btn_color);
    background-color: var(--color8);
}
/*------------搜尋欄-------------*/

body .AdminMainPage .form-control, body .AdminMainPage .el-input__inner, body .AdminMainPage .input-group-text{
    border-color: #d6d6d6;
    height: 45px;
}
body .AdminMainPage .form-control, body .AdminMainPage .el-input__inner{
    border-radius: 50px;
}

.pageCtnArea .bottom .searchBar .mt-3{
    margin-top: 0 !important;
}
.pageCtnArea .bottom .searchBar .input-group-text{
    padding-right: 0;
    padding-left: 18px;
}
.pageCtnArea .bottom .searchBar .btn-secondary{
    background: #eee;
    border-color: #ddd;
}
.pageCtnArea .bottom .dropdown-menu{
    min-width: 7rem;
}
.el-select-dropdown .el-select-dropdown__item.selected{
    color: var(--btn_color);
}
.pageCtnArea .el-input.is-active .el-input__inner, .pageCtnArea .el-input__inner:focus, .pageCtnArea .el-range-editor.is-active, .pageCtnArea .el-range-editor.is-active:hover, .pageCtnArea .el-select .el-input.is-focus .el-input__inner, .pageCtnArea .el-select .el-input__inner:focus{
    border-color: var(--color1);
}

.bottom .contentTopList .Partition{
    margin-left: 15px;
    margin-bottom: 15px;
}
/*手機*/@media (max-width: 767px){

    .searchBar .Partition{
        margin-bottom: 0.5rem;
    }
    .searchBar .Partition:nth-last-child(1){
        margin-bottom: 0;
    }
    .searchBar .Partition .el-select, .searchBar .Partition .el-date-editor{
        width: 88%;
        margin-left: 12%;
    }


}
/*手機以上*/@media (min-width: 768px){


    .searchBar .Partition .el-select, .searchBar .Partition .el-date-editor{
        margin-left: 1rem;
    }

    .searchBar .classification{
        width: 105px;
    }
    .searchBar .dateToDate.el-range-editor.el-input__inner{
        width: 255px;
    }
    .searchBar .dateToDate.el-range-editor.el-input__inner .el-range-input{
        width: 97px;
    }
    .searchBar .dateToDate.el-range-editor.el-input__inner .el-range-separator{
        width: 23px;
    }
}

/*手機*/@media (max-width: 1199px){
    .bottom .contentTopList{}

}
/*PC大*/@media (min-width: 1200px){
    .bottom .contentTopList{
        display: flex;
    }
}

/*------------月曆-------------*/
.el-picker-panel .el-date-table td.in-range div, .el-picker-panel .el-date-table td.in-range div:hover, .el-picker-panel .el-date-table.is-week-mode .el-date-table__row.current div, .el-picker-panel .el-date-table.is-week-mode .el-date-table__row:hover div{
    background-color: var(--color9);
}
.el-picker-panel .el-date-table td.end-date span, .el-picker-panel .el-date-table td.start-date span {
    background-color: var(--btn_color_hover);
}
.el-picker-panel .el-date-table td.available:hover {
    color:  var(--color5);
    font-weight: bold;
}
.el-picker-panel .el-date-table td.today span {
    color:var(--btn_color);
}
/*------------頁碼-------------*/
.pageCtnArea .bottom .page{
    padding: 1rem 0;
    text-align: center;
}
.pageCtnArea .bottom .page nav{
    margin-bottom: 1rem;
}
.pageCtnArea .bottom .page-link{
    color: #999;
}
.pageCtnArea .bottom .page-item.active .page-link{
    background: var(--color3);
    border-color: var(--color3);
    color: #fff;
}
.pageCtnArea .bottom .page-item .page-link:hover{
    color: #999;
}

.el-pagination .el-pager li.active{
    color: var(--btn_color);
}

/*------------input 類型-------------*/
body .el-checkbox__input.is-checked .el-checkbox__inner, body .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: var(--btn_color);
    border-color: var(--btn_color);
}
.pageCtnArea .el-checkbox__input.is-checked+.el-checkbox__label{
    color: var(--btn_color);
}
.pageCtnArea .input-group .input-group-prepend span{
    border-radius: 50px 0 0 50px;
    background-color: #ffffff;
    padding-right: 0;
}
.pageCtnArea .input-group .form-control{
    border-left: none;
}
.pageCtnArea .form-control{
    border: 1px solid var(--color1);
}
.pageCtnArea .form-control:focus{
    box-shadow: 0 0 0 0.2rem var(--color7);
}
.pageCtnArea .el-tag + .el-tag {
    margin-left: 10px;
    margin-bottom: 5px;
}
.pageCtnArea .el-tag{
    border-color: var(--color5);
    color: var(--color5);
    background-color: var(--color7);
}
.pageCtnArea .el-tag .el-icon-close{
    color: var(--color5);
}
.pageCtnArea .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
.pageCtnArea .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
}
.pageCtnArea .el-switch__label *{
    font-size: 12px;
}
.pageCtnArea .el-date-editor .el-range-separator{
    width: 18px;
}
.pageCtnArea .el-switch.is-checked .el-switch__core{
    border-color: var(--btn_color_hover);
    background-color: var(--btn_color_hover);
}
.pageCtnArea .el-switch__label.is-active{
    color: var(--btn_color_hover);
}


/*------------RWD表格-------------*/
.pageCtnArea .rwd-table tr{
    font-weight: normal;
}

.pageCtnArea .rwd-table th {
    display: none;
}

.pageCtnArea .rwd-table td{
    display: block;
    color: #757575;
}
.pageCtnArea .rwd-table td:before{
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 7rem;
    display: inline-block;
    float: left;
}
.pageCtnArea .rwd-table td:nth-child(1):before {
    /* content: attr(data-th) "　";*/
}
.pageCtnArea .rwd-table span.font1,
.pageCtnArea .rwd-table span.font2 {
    display: table;
}
.pageCtnArea .Page.navigation {
    display: table;
    margin: 0 auto;
}
.pageCtnArea .rwd-table .status{
    background: #ccc;
    color: #FFF;
    font-size: .7rem;
    padding: .2rem .5rem;
    margin-left: .5rem;
    border-radius: 3px;
}
.pageCtnArea .rwd-table .done{
    background: #3486e8;
}
.pageCtnArea .rwd-table .info_id{
    color: #333;
    font-weight: 600;
}
@media(max-width:991px) {
    .pageCtnArea .rwd-table {
        margin: 10px 10px 0 10px;
        width: calc(100% - 20px);
    }
    .pageCtnArea .rwd-table th,
    .pageCtnArea .rwd-table td {
        text-align: left;
        border: none;
    }
    .pageCtnArea .rwd-table td {
        min-height: 2rem;
        word-break: break-all;
        line-height: 2rem;
    }
    .pageCtnArea .rwd-table td:before {
        height: 1em;
        font-weight: bold;
        color: #000;
    }
    .pageCtnArea .rwd-table tr td:nth-last-child(1) {
        border-bottom: 1px solid var(--color9);
        padding-bottom: 2rem;
        margin-bottom: 1rem;
    }
    .pageCtnArea .rwd-table tr:nth-last-child(1) td:nth-last-child(1){
        border-bottom: none;
        padding-bottom: 1rem;
        margin-bottom: 0;
    }
    .pageCtnArea .rwd-table tr td::before {
        height: 2rem;
    }
    .pageCtnArea .rwd-table .btn{
        padding: 0 0.5rem;
        margin: 0 .3rem 0 0;
    }
}

/*手機以上*/

@media(min-width:992px) {
    .pageCtnArea .rwd-table {
        width: 100%;
    }
    .pageCtnArea .rwd-table tr:nth-child(1),
    .pageCtnArea .rwd-table tr:nth-last-child(1) {
        border: none;
    }
    .pageCtnArea .rwd-table td:before {
        display: none;
    }
    .pageCtnArea .rwd-table th,
    .pageCtnArea .rwd-table td {
        text-align: center;
        display: table-cell;
        padding: .5rem .5rem;
        border-bottom: 1px solid #e4e4e4;
    }
    .pageCtnArea .rwd-table.info th, .pageCtnArea .rwd-table.info td{
        text-align: left;
        border: 0;
    }
    .pageCtnArea .rwd-table tr:hover td{
        background-color: var(--color8);
    }
    .pageCtnArea .rwd-table {
        overflow: hidden;
    }
    .pageCtnArea .rwd-table th,
    .pageCtnArea .rwd-table td:before {
        color: black;
        font-weight: 400;
    }
}
/*------------內頁通用-------------*/
.pageCtnArea .insidePage .topLinkAndTitle .el-button{
    padding: 7px;
}
.pageCtnArea .insidePage .centerBox td{
padding-top: 20px;
}
/*------------儀表板-------------*/
.WelcomePage h2{
    color: var(--btn_color);
    font-weight: bold;
}
.WelcomePage .tableAreaBox .greenBox{
    border: 1px solid var(--color7);
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    margin: 15px auto 8px;
}
.WelcomePage .firstBox, .pageCtnArea .WelcomePage .rwd-table{
    margin: 15px auto 8px;
}
.pageCtnArea .WelcomePage .rwd-table{
    color: #666666;
}
.pageCtnArea .WelcomePage .rightBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.WelcomePage .roundBox{
    background: linear-gradient(45deg, #ffffff 0%,#dff1e5 67%,#f1ffd1 100%);
    display: table;
    margin: 0 auto;
    padding: 49px 0;
    border-radius: 100%;
    width: 170px;
    box-shadow: 0 3px 7px #73d497;
}
.WelcomePage .roundBox h2{
    color: #00580f;
}
/*手機*/@media (max-width: 767px){
    .WelcomePage .firstBox  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        text-align: center;
    }
    .WelcomePage .firstBox .lineBox{
        display: none;
    }
}
/*手機以上*/@media (min-width: 768px){
    .WelcomePage .firstBox {
        display: flex;
    }
    .WelcomePage .firstBox .areaBox{
        width: 22%;
        text-align: center;
    }
    .WelcomePage .firstBox .lineBox{
        width: 4%;
    }
    .WelcomePage .firstBox .lineBox .line{
        border-right: 1px solid #e4e4e4;
        height: 50px;
        width: 1px;
        margin: 10px auto 0;
    }
    .pageCtnArea .WelcomePage .rwd-table th, .pageCtnArea .WelcomePage .rwd-table td{
        text-align: left;
    }
}
/*------------診間管理-------------*/
.RoomList .dayList li span.day {
    font-weight: bold;
    color: var(--color10);
}
.RoomList .dayList li:nth-child(even) span.day {
    color: #25b99f;
}
.RoomList .dayList li{
    border-bottom: 1px dashed #b5dcd5;
    padding: 3px 0;
    text-align: left;
}
.RoomList .dayList li:last-child{
    border-bottom: none;
}
.pageCtnArea .insidePage.RoomEdit .dayList .el-date-editor, .BasicData .el-date-editor.el-input{
    width: 100%;
}
.RoomEdit .row.dayList{
    margin: 20px 10px;
}
.RoomEdit .row.dayList .timeList .row, .BasicData .timeList .row{
    margin-bottom: 12px;
}
.RoomEdit .row.dayList .timeList .row:last-child, .BasicData .timeList .row:last-child{
    margin-bottom: 0;
}

.RoomEdit .el-card .el-card__header{
    background-color: var(--colorBG);
    color: #013500;
}
.BasicData table.w-100.centerBox td{
    padding: 10px 0;
}