#app{
    font-size: 1rem;
    font-family: Quicksand-Light, 微軟正黑體, sans-serif;
    color: #383b3d;
    overflow: hidden;
    width: 100%;
}
a, a:hover{
    text-decoration: none;
    color: #383b3d;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
:root{
    --color1:#6aa269;
    --color2:#ffc724;
    --color3:#a5cc2a;
    --color4:#86a81e;
    --color5:#ff7e5c;
    --color6:#ff6a5e;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 400;
    letter-spacing: 2px;
}
img{
    max-width: 100%;
}
body .text-success{
    color: var(--color1) !important;
}
body .text-secondary{
    color: #b7b7b7 !important;
}
/*------首頁-------*/
.IndexPage section{
padding: 40px 0 20px;
}

/*------選單與主板------*/
.navbar{
    width: 100vw;
    z-index: 5;
background-color: white;
}
.navbar-nav {
    width: 100%;

}
.navbar-light .navbar-nav .nav-link{

    color: #383b3d;
}
.navbar .nav-link:hover, .navbar-light .navbar-nav .nav-link:hover{
    color: var(--color1);
}
nav.navbar .btn{
    border-radius: 25px;
    padding: 5px 15px;
}
/*PC以下*/@media (max-width: 991px){
    .navbar{
        position: fixed;
        top: 0;
    }
    .topLogo img{
        height: 29px;
    }
    .navbar .form-inline .nav-link{
        width: 100%;
        padding: 0 2px 15px;
    }
    .navbar .form-inline{
        margin-top: 30px;
    }
    .navbar .form-inline .btn{
        margin-top: 15px;
    }
    .MainPage{
        padding-top: 66px;
    }
    .navbar .form-inline .btn{
        margin-right: 15px;
    }
    .navbar .navbar-nav .nav-link{
        padding: 13px 0;
    }
}
/*PC*/@media (min-width: 992px){

    .navbar{
        position: relative;
    }
    .navbar-light .navbar-nav .nav-link{
        width: 16%;
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-link span{
        padding-top: 6px;
        display: block;
    }
    .topLogo img{
        height: 33px;
    }
    .navbar .navbar-nav{
        width: calc(100% - 240px);
    }
    .navbar form.form-inline {
        width: 240px;
        flex-direction: row-reverse;
    }
    .navbar-light .navbar-nav .nav-link, .navbar form.form-inline{
        margin-top: 5px;
    }
    .navbar .form-inline .btn{
        margin-left: 15px;
    }

}

/*--按鈕與input--*/
.btn{
    letter-spacing: 1px;
}
.btn.btn-warning{
    border: none;
    color: #ffffff;
    background: -moz-linear-gradient(top, rgba(255,212,0,1) 0%, rgba(255,199,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,212,0,1) 0%,rgba(255,199,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,212,0,1) 0%,rgba(255,199,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd400', endColorstr='#ffc724',GradientType=0 ); /* IE6-9 */
}
.btn.btn-warning:hover{
    color: #000000;
    background: -moz-linear-gradient(top, rgba(255,224,86,1) 0%, rgba(255,212,0,1) 27%, rgba(255,199,36,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,224,86,1) 0%,rgba(255,212,0,1) 27%,rgba(255,199,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,224,86,1) 0%,rgba(255,212,0,1) 27%,rgba(255,199,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe056', endColorstr='#ffc724',GradientType=0 ); /* IE6-9 */
}

.btn.btn-success, body .el-button--success{
    background-color: var(--color3);
    border-color: var(--color3);
}
.btn.btn-success:hover, body .el-button--success:hover{
    background-color: var(--color1);
    border-color: var(--color1);
}
.btn.btn-outline-danger{
    color: var(--color5);
    border-color: var(--color5);
}
.btn.btn-outline-danger:hover{
    color: white;
    background-color: var(--color5);
    border-color: var(--color5);
}
.btn.btn-outline-success{
    color: var(--color3);
    border-color: var(--color3);
}
.btn.btn-outline-success:hover{
    color: white;
    background-color: var(--color1);
    border-color: var(--color1);
}
body .el-checkbox__label{
    font-weight: 400;
}
body .el-checkbox__label, body .el-button{
    font-size: 1rem;
}
body .el-checkbox__inner{
    width: 18px;
    height: 18px;
}

body .el-checkbox__inner::after{
    width: 7px;
    height: 9px;
}
body .form-control, body .el-input__inner, body .input-group-text{
    border-color: var(--color3);
    height: 50px;
}


body .form-control::placeholder, body .el-input__inner::placeholder{
    font-size: 1rem;
    color: #c7c7c7;
}
body .form-control:disabled, body .form-control[readonly]{
    background-color: #ececec;
    border-color: #ececec;
}

select, option {
    -webkit-appearance: none;
    background-image: url('../images/sort.svg');
    background-size: 25px;
    background-color: transparent;
    padding-right: 23px;
    padding-left: 5px;
    background-repeat: no-repeat;
    background-position: right center;
}


/*----modal----*/

body .modal-header{
    padding: 10px 1rem 0;
    border: none;
}
body .modal-body{
    padding: 0 14% 1rem;
}
/*------------RWD表格-------------*/

.MainPage .rwd-table {
    width: 100%;
}

.MainPage .rwd-table tr{
    font-weight: normal;
}

.MainPage .rwd-table th {
    display: none;
}

.MainPage .rwd-table td{
    display: block;
    color: #757575;
}

.MainPage .rwd-table td:before{
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 7rem;
    display: inline-block;
    float: left;
}

.MainPage .rwd-table td:nth-child(1):before {
    /* content: attr(data-th) "　";*/
}

.MainPage .rwd-table span.font1,
.MainPage .rwd-table span.font2 {
    display: table;
}

.pageCtnArea .Page.navigation {
    display: table;
    margin: 0 auto;
}

.MainPage .rwd-table .btn {
    margin: .3rem;
    padding: 0rem .8rem;
}
.MainPage .rwd-table .status{
    background: #ccc;
    color: #FFF;
    font-size: .7rem;
    padding: .2rem .5rem;
    margin-left: .5rem;
    border-radius: 3px;
}
.MainPage .rwd-table .done{
    background: #3486e8;
}
.MainPage .rwd-table .info_id{
    color: #333;
    font-weight: 600;
}
@media(max-width:991px) {
    .MainPage .rwd-table th,
    .MainPage .rwd-table td {
        text-align: left;
        border: none;
    }
    .MainPage .rwd-table td {
        min-height: 2rem;
        word-break: break-all;
        line-height: 2rem;
    }
    .MainPage .rwd-table td:before {
        height: 1em;
        font-weight: bold;
        color: #000;
    }
    .MainPage .rwd-table tr td:nth-last-child(1) {
        border-bottom: 1px solid #bdbdbd;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
    }
    .MainPage .rwd-table tr:nth-last-child(1) td:nth-last-child(1){
        border-bottom: none;
        padding-bottom: 1rem;
        margin-bottom: 0;
    }
    .MainPage .rwd-table tr td::before {
        height: 2rem;
    }
    .MainPage .rwd-table .btn{
        padding: 0 0.5rem;
        margin: 0 .3rem 0 0;
    }
}

/*手機以上*/

@media(min-width:992px) {

.MainPage .rwd-table tr th{
    background-color: var(--color3);
    color: white;
    border: none;
}
    .MainPage .rwd-table tr:nth-child(1),
    .MainPage .rwd-table tr:nth-last-child(1) {
        border: none;
    }
    .MainPage .rwd-table td:before {
        display: none;
    }
    .MainPage .rwd-table th,
    .MainPage .rwd-table td {
        text-align: center;
        display: table-cell;
    }
    .MainPage .rwd-table th{
        padding: .75rem .75rem;
    }
    .MainPage .rwd-table td{
        padding: 18px .75rem;
        border-bottom: 1px solid #e0e0e0;
    }
    .MainPage .rwd-table tr:last-child td{
        border-bottom: none;
    }
    .MainPage .rwd-table.info th, .MainPage .rwd-table.info td{
        text-align: left;
        border: 0;
    }
    .MainPage .rwd-table {
        overflow: hidden;
    }
    .MainPage .rwd-table th,
    .MainPage .rwd-table td:before {
        background-color: #f0f0f0;
    }
}

/*--區塊1--*/
section.indexArea1{
    padding: 0;
}
section.indexArea1 .VueCarousel-inner .VueCarousel-slide{
height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.indexArea1 .VueCarousel-dot-container{
    margin-top: 0 !important;
}
section.indexArea1 .VueCarousel-dot{
    margin-top: 10px !important;
padding: 5px !important;
}

/*--區塊2--*/
section.indexArea2 .card{
    background-color: var(--color1);
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}
section.indexArea2 .linkBtn{
    margin: 25px auto 0;
    display: table;
    font-size: 160%;
    border-radius: 30px;
    padding: 10px 10vw;
    box-shadow: 0 1px 5px #a9a9a9;
}
section.indexArea2 .linkBtn:hover{
    box-shadow: 0 2px 10px #a9a9a9;
}
section.indexArea2 .cardLink .card{
    transition: 0.2s;
}
section.indexArea2 .cardLink .card:hover{
    box-shadow: 0 0 7px #275d26;
}


/*--footer--*/
footer{
    background-color: var(--color1);
    color: #ffffff;
}


/*PC以下*/@media (max-width: 991px){
    footer .container{
        padding: 20px 0 15px;
    }
    footer img{
        height: 50px;
    }
    footer .container .leftBox{
        text-align: center;
    }
    footer .container .rightBox{
        text-align: center;
        width: 100%;
        display: inline-block;
        margin-top: 3vh;
    }
    footer .container .centerBox ul{
        padding: 0;
        width: 90%;
        margin: 3vh 5% 0;
    }
    footer .container .centerBox ul li{
        text-align: center;
        float: left;
        width: 48%;
        margin-bottom: 12px;
    }
    footer .container .centerBox ul li:nth-child(odd){
        margin-right: 4%;
    }
    footer .container .centerBox ul li a{
        border: 1px solid;
        width: 100%;
        display: block;
        padding: 5px 0;
    }
}
/*小手機*/@media (max-width: 320px){
    footer .container .centerBox ul{
        width: 98%;
        margin: 3vh 1% 0;
    }
}
/*PC*/@media (min-width: 992px){
    footer .container{
        padding: 20px 0;
    }
    footer .container{
        display: flex;
    }
    footer img{
        height: 60px;
    }
    footer .container .leftBox{
        width: 10%;
    }
    footer .container .centerBox{
        width: 70%;
    }
    footer .container .centerBox ul{
        display: flex;
    }
    footer .container .rightBox{
        width: 30%;
        text-align: right;
    }
    footer .container .centerBox ul li a::after{
        content: ' ';
        display: inline-block;
        background: #ffffff;
        width: 1px ;
        height: 12px;
        margin: 0 15px;
    }
    footer .container .centerBox ul li:last-child a::after{
        display: none;
    }
    footer .container .centerBox, footer .container .rightBox{
        padding-top: 20px;
    }
}

/*--------登入註冊頁---------*/
.LoginAndRegistered .topLink{
    margin: 25px auto;
}
.LoginAndRegistered .topLink a, .LoginAndRegistered .topLink{
    color: #b9b9b9;
}
.LoginAndRegistered .topLink a{
    padding: 5px 25px;
}
.LoginAndRegistered .topLink a.router-link-exact-active{
    color: var(--color1);
}

.LoginAndRegistered .input-group img{
    height: 30px;
    max-width: 27px;
}
.LoginAndRegistered .input-group{
    border: 1px solid #5f584e;
    border-radius: 30px;
    background: white;
    overflow: hidden;
}
.LoginAndRegistered .input-group .input-group-text{
    background: transparent;
    padding: 13px 0 13px 20px;
    border: none;
    text-align: center;
    width: 54px;
    display: block;
}
.LoginAndRegistered .input-group .input-group-append.last{
    padding: 8px 20px 8px 0;
    width: auto;
}
.LoginAndRegistered .input-group input.form-control{
    border: none;
    height: 56px;
    background: transparent;
}
.LoginAndRegistered .input-group .input-group-append.last .btn{
    border-radius: 25px;
}
.LoginAndRegistered .btn-success.w-100{
    margin: 28px 0 32px;
    font-size: 150%;
    border-radius: 30px;
    padding: 12px 0;
}
select.countrySelect{

    border: none;
}

/*---------購買配套--------*/

.shopPage, .MemberCentre{
    padding-top: 3vh;
}
body .el-radio.is-bordered{
    padding: 0 ;
    border: none;
}
body .el-radio .el-radio__label{
    padding: 0;
    font-weight: 400;
    font-size: 1rem;
    color: #383b3d;
}

.el-radio .el-radio__input.is-checked+.el-radio__label{
    color: #383b3d;
}
.el-radio .el-radio__input{
    display: none;
}
.el-radio .SelectCommodity span.el-radio__label{
    padding: 0;
}

.el-radio .radioBox {
    border: 3px solid #d1d1d1;
    padding: 4px;
    border-radius: 100%;
    display: inline-block;
}
.el-radio .radioBox div{
    border-radius: 100%;
    height: 13px;
    width: 13px;
    background-color: var(--color4);
    margin: 0;
    transform:scale(0);
    transition: 0.2s;
}
.el-radio.is-checked .radioBox div{
    transform:scale(1);
}
.SelectCommodity .radioBox{
    margin: 25px 0 0;
}
.SelectCommodity .upBox{
    box-shadow: 0 2px 6px #cacaca;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 18px;
    transition: 0.2s;

}

.shopPage .SelectCommodity.is-checked .upBox{
    box-shadow: 0 2px 8px #b7d4b6;
}

.SelectCommodity .upBox .titleBox, .shopPage .SelectCommodity .upBox .priceBox{
    font-size: 110%;

}

.SelectCommodity .upBox .titleBox{
color: #383b3d;
    height: 45px;
}

.SelectCommodity .upBox .titleBox span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    white-space: normal;
    line-height: 1.2;
    height: 41px;
}
.shopPage .SelectCommodity .upBox .priceBox{
color: var(--color4);
    font-weight: 600;
    margin-bottom: 5px;
}

body .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled){
border-color: var(--color2);
}
body .shopPage .SelectCommodity .upBox .el-input__inner{
    height: 40px;
}
.hrLine{
    background-color: var(--color3);
    height: 4px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 13px;
}
.SelectItem table tr td:nth-child(1){
padding-right: 8px;
}
.SelectItem table tr td:nth-child(2){
    line-height: 24px;
    letter-spacing: 1px;
}
.SelectItem .radioBox div{
    height: 10px;
    width: 10px;
}
.PaymentDetails{
    margin-top: -20px;
}
.PaymentDetails ul li{
    border-bottom: 1px solid #eeeeee;
    padding: 23px 0 10px;
}
.SubmitBlock{
    padding:40px 0 60px;

}
.SubmitBlock button.el-button{
    border-radius: 80px;
    font-size: 110%;
    padding: 20px 0;
    margin-top: 20px;
}

.shopPage .SubmitBlock label.el-checkbox a{
    color: var(--color2);
}
.shopPage .el-checkbox__input.is-checked+.el-checkbox__label{
    color: #383b3d;
}
.PaymentInformation .blockArea{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 8px #e0e0e0;
    overflow: hidden;
}
.shopPage .PaymentInformation .price{
    color: var(--color4);
}

/*手機*/@media (max-width: 767px){
    .SelectCommodity .ProductImage{
        width: 100%;
        height: 41vw;
    }
    .SelectCommodity .upBox .titleBox{
        width: calc(41vw - 1rem);
    }
 .SubmitBlock button.el-button{
        width: 70%;
    }
    .PaymentInformation .informationBox, .PaymentInformation .bottomData{
        padding: 15px;
    }
    .shopPage .PaymentInformation .ProductImage{
        width: 150px;
        height: 150px;
        margin: 12px auto;
        display: block;
    }
    .shopPage .PaymentInformation .text{
        padding: 0 15px 15px;
    }
    .shopPage .SelectCommodity .upBox .el-input-number{
        width: 100%;
    }
    .shopPage .SelectCommodity .upBox .el-input-number__decrease, .shopPage .SelectCommodity .upBox .el-input-number__increase{
        width: 25px;
    }
}
/*手機以上*/@media (min-width: 768px){
    .shopPage, .MemberCentre{
        min-height: 85vh;
    }
    .SelectCommodity .ProductImage{
        width: 208px;
        height: 208px;
    }
    .SelectCommodity .upBox .titleBox{
        width: calc(208px - 1rem);
    }
    .SelectCommodity .upBox{
        display: inline-block;
    }
.SubmitBlock button.el-button{
        width: 40%;
    }
    .PaymentInformation .productData {
        display: flex;
    }
    .shopPage .PaymentInformation .ProductImage{
        width: 190px;
        height: 190px;
        float: left;
    }
    .shopPage .PaymentInformation .text{
        width: calc(100% - 190px);
        text-align: right;
        height: 190px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .shopPage .PaymentInformation .text .fontBox{
        padding-right: 25px;
    }
    .PaymentInformation .informationBox, .PaymentInformation .bottomData{
        padding: 25px;
    }
    .MemberCentre .ContractValidity{
        float: right;
    }
}

/*PC*/@media (min-width: 992px){
    .SelectCommodity .ProductImage{
        width: 200px;
        height: 200px;
    }
    .SelectCommodity .upBox .titleBox{
        width: calc(200px - 1rem);
    }
}
/*PC大*/@media (min-width: 1200px){
    .SelectCommodity .ProductImage{
        width: 245px;
        height: 245px;
    }
    .SelectCommodity .upBox .titleBox{
        width: calc(245px - 1rem);
    }
}
