<template>
    <div>

    </div>
</template>

<script>
export default {
    name: "NavigationBar",
    data() {
        return {
            nickName: '',
        }
    },
}
</script>

<style scoped>

</style>
