<template>
    <div class="Adminloginbox">
        <div class="navbararea">
            <div class="navBG">
                <div class="navtopbox">
                    <div class="leftNavBox">
                        <table>
                            <tr>
                                <td>
                                    <div>Mask</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="rightNavBox">
                        <button class="btn btn-link navbuttton" type="button" data-toggle="collapse"
                                data-target="#navbarlist" aria-controls="navbarlist" aria-expanded="true">
                            <img :src="require('@/assets/images/menu.svg')">
                        </button>
                    </div>
                </div>
                <nav class="collapse bd-links" id="navbarlist">
                    <div class="menu">
                        <el-row>
                            <el-col class="menuList">
                                <el-menu
                                        class="el-menu-vertical-demo"
                                        :default-active="defaultActive"
                                        :default-openeds="defaultOpen"
                                        :unique-opened="true"
                                        :router="true"
                                        background-color="transparent"
                                >
                                    <el-menu-item index="pharmacy-list" class="onlyItem">藥局管理</el-menu-item>
                                    <el-menu-item index="mask-list" class="onlyItem">口罩查詢</el-menu-item>
                                    <el-menu-item index="mask-sales" class="onlyItem">口罩銷售狀況</el-menu-item>
                                    <el-menu-item index="member_orders" class="onlyItem">會員購買總金額</el-menu-item>
                                    <el-menu-item index="member_list" class="onlyItem">會員列表</el-menu-item>
                                    <el-menu-item index="sell-mask" class="onlyItem">出售口罩</el-menu-item>

                                </el-menu>
                            </el-col>
                        </el-row>
                    </div>
                </nav>
            </div>
            <!--侧边栏-->
        </div>

    </div>
</template>

<script>
    /* eslint-disable no-unused-vars */

    export default {
        name: "Sidebar",
        data() {
            return {
                //當前開啟的父類別
                defaultOpen: [],
                //當前的子類別
                defaultActive: '',
                data: [],
            }
        },
    }
</script>

<style scoped>

</style>
