<template>
    <div class="AdminMainPage">
        <div class="home">
            <div class="row">
                <div class="sidebarArea col-12 col-md-3 col-xl-2">
                    <sidebar></sidebar>
                </div>
                <div class="pageCtnArea col-12 col-md-9 col-xl-10">
                    <navigation-bar></navigation-bar>
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import '../../assets/css/admin-style.css'

    import Sidebar from "./components/Sidebar";
    import NavigationBar from "./components/NavigationBar";
    export default {
        name: "AdminMainPage",
        components: {NavigationBar, Sidebar}
    }
</script>

<style scoped>

</style>