<template>
    <div class="home">

        <div class="bottom">
            <div class="tableAreaBox">
                <div class="PageWhiteBar">
                    <div class="row">
                        <div class="col-md-5 col-lg-4 col-xl-3 mb-3">
                            <h3 class="title">會員列表</h3>
                        </div>
                    </div>
                </div>
                <div class="FilterListTop row">

                    <div class="col-xl-7 mb-2">
                        <table class="w-100">
                            <tr>
                                <td>
                                    <!--搜尋列-->
                                    <div class="searchBar">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="el-icon-search"></i>
                                    </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="搜尋會員名稱"
                                                   v-model="filterName"/>
                                        </div>
                                    </div>
                                </td>
                                <td class="pl-2">
                                    <el-button class="w-100" type="info" plain round @click="setupData">搜尋</el-button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <table class="rwd-table member">
                    <tr>
                        <th>姓名</th>
                        <th>餘額</th>

                    </tr>
                    <tr v-for="(item, index) in dataList" :key="index">
                        <td data-th="姓名">{{item.name}}</td>
                        <td data-th="餘額">{{item.balance}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MemberList",
        data() {
            return {
                filterName: '',
                dataList: [],

            }
        },
        created() {
            this.setupData();
        },
        methods: {
            setupData() {
                this.$http.fetch`getMemberList${{
                    "filterName": this.filterName
                }}
                ${json => {
                    this.dataList = json
                }}`;
            }
        }
    }
</script>

<style scoped>

</style>
