<template>
    <div class="home insidePage RoomEdit">
        <div class="bottom">
            <div class="tableAreaBox">
                <div class="PageWhiteBar">
                    <table class="topLinkAndTitle">
                        <tr>
                            <td>
                                <el-button type="success" plain icon="el-icon-arrow-left" circle
                                           @click="$router.go(-1)"></el-button>
                            </td>
                            <td width="5"></td>
                            <td><h3 class="title">診間編輯</h3></td>
                        </tr>
                    </table>
                </div>
                <div class="row" style="margin: 0;">
                    <div class="col-lg-6">
                        <table class="w-100 centerBox">
                            <tr>
                                <td>診間名稱</td>
                                <td><input type="text" placeholder="請輸入診間名稱" class="form-control" v-model="name"/></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-3">
                        <div style="color: transparent;">空白</div>
                        <el-button class="w-100" type="info" plain round @click="changePharmacyName">更改名稱</el-button>
                    </div>
                    <div class="col-lg-3"></div>

                </div>

                <table class="rwd-table member mt-3">
                    <tr>
                        <th>口罩名稱</th>
                        <th>口罩價錢</th>
                        <th>操作</th>
                    </tr>

                    <tr v-for="(item, index) in dataList" :key="index">
                        <td data-th="口罩名稱">{{item.name}}</td>
                        <td data-th="口罩價錢">{{item.price}}</td>
                        <td data-th="操作">
                            <el-button type="info" plain round data-toggle="modal" data-target="#modal1"
                                       @click="setItem(item)">
                                刪除
                            </el-button>
                            <el-button class="ml-2" type="success" plain round data-toggle="modal" data-target="#modal2"
                                       @click="setItem(item)">
                                編輯
                            </el-button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--刪除modal-->
        <div class="modal fade" id="modal1" tabindex="-1" role="dialog"
             aria-labelledby="directPasswordConfirmLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title text-center mb-3">刪除口罩</h5>

                        是否確定刪除口罩？
                        <table class="w-100 text-center mt-4 mb-3">
                            <tr>
                                <td width="50%">
                                    <button type="button" class="btn btn-outline-secondary w-75"
                                            data-dismiss="modal" @click="hideModal">
                                        取消
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success w-75" data-dismiss="modal"
                                            @click="deleteConfirm">確認
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>


        <!--更改modal-->
        <div class="modal fade" id="modal2" tabindex="-1" role="dialog"
             aria-labelledby="directPasswordConfirmLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title text-center mb-3">編輯口罩</h5>

                        名稱：
                        <input type="text" placeholder="口罩名稱" class="form-control" v-model="setName"/>
                        金額：
                        <input type="text" placeholder="金額" class="form-control" v-model="setPrice"/>

                        <table class="w-100 text-center mt-4 mb-3">
                            <tr>
                                <td width="50%">
                                    <button type="button" class="btn btn-outline-secondary w-75"
                                            data-dismiss="modal" @click="hideModal">
                                        取消
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success w-75" data-dismiss="modal"
                                            @click="updateConfirm">確認
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>

    export default {
        name: "PharmacyEdit",
        data() {
            return {
                id: this.$route.query.id,
                name: this.$route.query.name,
                dataList: [],
                setId: 0,
                setName: "",
                setPrice: 0
            }
        },
        created() {
            this.setupData();
        },
        methods: {
            setupData() {
                this.$http.fetch`getMaskListByPharmacyId${{
                    "id": Number(this.id),
                }}
                ${json => {
                    this.dataList = json
                }}`;
            },
            changePharmacyName() {
                this.$http.fetch`updatePharmacy${{
                    "id": Number(this.id),
                    "name": this.name
                }}
                ${json => {
                    if (json.status) {
                        this.$public.showNotify(json.message, json.status)
                    } else {
                        this.$public.showNotify(json.message, json.status)
                    }
                }}`;
            },
            setItem(item) {
                this.setId = item.id
                this.setName = item.name
                this.setPrice = item.price
            },
            hideModal() {
                this.$refs['modalShow'].hide()
            },
            deleteConfirm() {
                this.$http.fetch`deleteMasks${{
                    "id": Number(this.setId)
                }}
                ${json => {
                    if (json.status) {
                        this.$public.showNotify(json.message, json.status)
                        this.setupData()
                    } else {
                        this.$public.showNotify(json.message, json.status)
                    }
                }}`;
            },
            updateConfirm() {
                this.$http.fetch`updateMasks${{
                    "id": Number(this.setId),
                    "price": Number(this.setPrice),
                    "name": this.setName
                }}
                ${json => {
                    if (json.status) {
                        this.$public.showNotify(json.message, json.status)
                        this.setupData()
                    } else {
                        this.$public.showNotify(json.message, json.status)
                    }
                }}`;
            }
        }
    }
</script>

<style scoped>

</style>
