<template>
    <div class="home">
        <div class="bottom RoomList">
            <div class="tableAreaBox pb-4">
                <div class="PageWhiteBar">
                    <div class="row">
                        <div class="col-md-5 col-lg-4 col-xl-3 mb-3">
                            <h3 class="title">藥局營業時間</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-lg-1 mb-1"></div>
                    <div class="col-md-4 col-lg-4 mb-4">
                        特定時間查詢
                        <el-date-picker class="w-100"
                                        v-model="filterDate"
                                        type="date"
                                        format="yyyy-MM-dd"
                                        value-format="yyyy-MM-dd"
                                        placeholder="特定時間查詢">
                        </el-date-picker>
                    </div>
                    <div class="col-md-4 col-lg45 mb-4">
                        星期查詢
                        <el-select v-model="filterDay" placeholder="選擇星期" class="w-100">
                            <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="col-md-2 col-lg-2 mb-2">
                        <div style="color: transparent;">空白</div>
                        <el-button class="w-100" type="info" plain round @click="filterData">搜尋</el-button>
                    </div>
                    <div class="col-md-1 col-lg-1 mb-1"></div>
                </div>


                <table class="rwd-table member mt-3">
                    <tr>
                        <th>藥局名稱</th>
                        <th>藥局剩餘金額</th>
                        <th>營業時段</th>
                        <th>操作</th>
                    </tr>

                    <tr v-for="(item, index) in dataList" :key="index">
                        <td data-th="藥局名稱">{{item.name}}</td>
                        <td data-th="藥局剩餘金額">{{item.balance}}</td>
                        <td data-th="營業時段">
                            <div class="dayList">
                                <li v-for="(dayValue, dayIndex) in item.businessHours" :key="dayIndex">
                                    <span class="day monday">{{getDayName(dayValue.days)}}</span>
                                    <span class="pr-1" v-if="dayValue.isOffDay ===1">{{dayValue.startTime}}~{{dayValue.endTime}} </span>
                                    <span class="pr-1" v-if="dayValue.isOffDay ===2">休息 </span>
                                </li>
                            </div>
                        </td>
                        <td data-th="操作">
                            <el-button type="info" plain round data-toggle="modal" data-target="#modal1"
                                       @click="setDeleteId(item.id)">
                                刪除
                            </el-button>
                            <el-button class="ml-2" type="success" plain round @click="goToPage(item)">
                                編輯
                            </el-button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <!--刪除modal-->
        <div class="modal fade" id="modal1" tabindex="-1" role="dialog"
             aria-labelledby="directPasswordConfirmLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title text-center mb-3">刪除藥局</h5>

                        是否確定刪除藥局？
                        <table class="w-100 text-center mt-4 mb-3">
                            <tr>
                                <td width="50%">
                                    <button type="button" class="btn btn-outline-secondary w-75"
                                            data-dismiss="modal" @click="hideModal">
                                        取消
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success w-75" data-dismiss="modal"
                                            @click="deleteConfirm">確認
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "PharmacyList",
        data() {
            return {
                dataList: [],
                deleteId: 0,
                filterDate: "",
                filterDay: "",
                options: [{
                    value: '1',
                    label: '星期一'
                }, {
                    value: '2',
                    label: '星期二'
                }, {
                    value: '3',
                    label: '星期三'
                }, {
                    value: '4',
                    label: '星期四'
                }, {
                    value: '5',
                    label: '星期五'
                }, {
                    value: '6',
                    label: '星期六'
                }, {
                    value: '7',
                    label: '星期日'
                }
                ]
            }
        },
        created() {
            this.setupData();
        },
        methods: {
            filterData() {
                if (this.filterDate !== "" && this.filterDay !== "") {
                    this.filterDate = "";
                    this.filterDay = "";
                    this.$public.showNotify("訂定日期查詢與星期查詢只能擇一")
                } else {
                    this.setupData()
                }
            },
            setupData() {
                this.$http.fetch`getPharmacyInfo${{
                    "filterDate": this.filterDate,
                    "filterDay": Number(this.filterDay),
                }}
                ${json => {
                    this.dataList = json;
                }}`;
            },
            getDayName(day) {
                switch (day) {
                    case 1:
                        return "星期一："
                    case 2:
                        return "星期二："
                    case 3:
                        return "星期三："
                    case 4:
                        return "星期四："
                    case 5:
                        return "星期五："
                    case 6:
                        return "星期六："
                    case 7:
                        return "星期日："
                    default:
                        return ""
                }
            }, setDeleteId(id) {
                this.deleteId = id
            }, goToPage: function (item) {
                this.$router.push({
                    name: 'PharmacyEdit',
                    query: {
                        "id": item.id,
                        "name": item.name
                    }
                })
            },
            hideModal() {
                this.$refs['modalShow'].hide()
            },
            deleteConfirm() {
                this.$http.fetch`deletePharmacy${{
                    "id": Number(this.deleteId)
                }}
                ${json => {
                    if (json.status) {
                        this.$public.showNotify(json.message, json.status)
                        this.setupData()
                    } else {
                        this.$public.showNotify(json.message, json.status)
                    }
                }}`;
            }
        },

    }
</script>

<style scoped>

</style>
